ExchangeUI/Connected Services/ExchangeRatesService/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rate" nillable="true" type="tns:Rate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRate" nillable="true" type="tns:ArrayOfRate" />
  <xs:complexType name="Rate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ask" type="xs:double" />
      <xs:element minOccurs="0" name="Bid" type="xs:double" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mid" type="xs:double" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OID" type="xs:int" />
      <xs:element minOccurs="0" name="Table" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rate" nillable="true" type="tns:Rate" />
</xs:schema>